<div class="navbar shadow-lg bg-gray-700 text-white h-[100px] px-6 items-center">
  <div class="flex-1">
    <a class="text-3xl font-bold">TicketsManager</a>
  </div>

  <div class="flex items-center space-x-6">
    <div class="text-right">
      <div class="font-semibold text-lg">UserName</div>
      <div class="text-sm text-gray-400">Role Name</div>
    </div>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar w-16 h-16">
        <div class="w-full h-full rounded-full overflow-hidden">
          <img alt="Avatar" src="user.png" class="object-cover w-full h-full" />
        </div>
      </div>

      <ul
        tabindex="0"
        class="menu dropdown-content z-[1] shadow bg-white rounded-box w-52">
        <li>
          <a class="flex items-center text-black" href="/login">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
            </svg>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
